.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#bored-button {
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  transition: transform 0.2s ease-in-out;


}

#card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

mark {
  background-color:rgb(245, 220, 255);
  color:black;
}