html,
body {
  height: 100vh;
  background: rgb(245, 220, 255);
  margin: 0;
}

#navbar {
  height: 50px;
  width: 100%;
  position: sticky;
  top: 0;
  background: rgb(177, 122, 245);
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar > * {
  font-size: 15px;
  position: relative;
  padding-right: 20px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#navbar > *:first-child {
  padding-left: 20px;
}

#about {
  display: flex;
  padding: 20px;
}

#about > * {
  padding: 20px;
}

.button {
  width: auto;
  height: 25px;
  font-size: 15px;
  text-align: center;
  background: rgb(196, 153, 248);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;

}

.hidden{
  display : none;
  }

  .trinkets {
    display: flex;
    justify-content: space-evenly;
  }
  
  .about {
    display: flex;
    justify-content: space-evenly;
  }
  
  .description {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: space-evenly;
    background:rgb(200, 232, 253);
  
  }
  .description2{
    justify-content: space-around;
    background:rgb(245, 220, 255);

  }
  
  .title {
    color:rgb(177, 122, 245);
    display: flex;
    justify-content: space-evenly;
  }
  
  .titleFox {
    color:rgb(11, 39, 132);
    display: flex;
    justify-content: space-evenly;
  }
  
  .resize {
    width: 500px;
    height: auto;
    display: flex;
    justify-content: space-evenly;
  }
  
  #bored-button {
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: transform 0.2s ease-in-out;

  }
    
  
  .hidden{
    display : none;
    color:rgb(11, 39, 132);
    }
  
  


